@(persons: List[Person])
@import play.i18n._

@main(Messages.get("persons.list")) {

	@parts.nav_tabs()

	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h1 class="text-muted">@Messages.get("persons.list")</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<!--<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#edit-person-modal">Agregar Persona</button>-->
				<a href="@routes.Application.create()" class="btn btn-success pull-right">@Messages.get("persons.add")</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="responsive">
					<table border="0" class="table table-hover table-bordered table-condensed table-responsive" id="table-persons">
						<tr class="info">
							<th class="col-sm-4 text-center" id="th-name">Nombre</th>
							<th class="col-sm-4 text-center" id="th-description">Descripción</th>
							<th class="col-sm-2 text-center" id="th-birthday">Cumpleaños</th>
							<th class="col-sm-1 text-center" id="th-age">Edad</th>
							<th class="col-sm-1 text-center" id="th-edit" style="width: 2%"></th>
						</tr>
						@persons.map { person =>
						<tr>
							<td>@person.getName()</td>
							<td>@person.getDescription()</td>
							<td class="text-center">
								@if(person.getBirthday() != null) {
									@person.getBirthday().format("dd/MM/yyyy")
								}
							</td>
							<td class="text-center">@person.getAge()</td>
							<!-- <td><a href="#" onclick="getPerson(@person.getId())">Editar</a></td> -->
							<td><a href="@routes.Application.edit(person.getId())">Editar</a></td>
						</tr>
						}
					</table>
				</div>
			</div>
		</div>

}