@(personForm: Form[Person])

@import helper._

@main("Crear Persona") {

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Agregar una persona</h1>

				<div class="form-group">
					@form(action = routes.Application.save()) {

						@input(personForm("name"), '_label -> "Nombre") { (id1, name1, value1, args1) =>
							<input type="text" name="@name1" id="@id1" @toHtmlArgs(args1) class="form-control">
						}
						@input(personForm("description"),'_label -> "Descripción") { (id2, name2, value2, args2) =>
							<textarea type="text" name="@name2" id="@id2" @toHtmlArgs(args2) class="form-control"></textarea>
						}
						@input(personForm("age"), '_label -> "Edad") { (id3, name3, value3, args3) =>
							<input type="number" name="@name3" id="@id3" @toHtmlArgs(args3) class="form-control">
						}
						@input(personForm("birthday"), '_label -> "Fecha de Cumpleaños") { (id4, name4, value4, args4) =>
							<input type="date" name="@name4" id="@id4" @toHtmlArgs(args4) class="form-control">
						}

						<div class="actions">
							<input type="submit" value="Crear Persona" class="btn btn-primary pull-right">
						</div>
					}
				</div>
			</div>
		</div>
	</div>

}